@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-500;
}

html {
  @apply scroll-smooth;
}

@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}